/* CSS Document */
/* MENU TOP */
.thememenutopMenu, .thememenutopSubMenuTable {
	white-space:	nowrap;
}
.thememenutopSubMenu {
	position:	absolute;
	visibility:	hidden;
	z-index:	100;
	border:		0;
	padding:	0;

	/*overflow:	visible;*/
	border:		1px solid #8E4A19;
	background-color:#C38560;
	cursor:pointer;
}
.thememenutopSubMenuTable {
	overflow:visible;
	background-color:#000000;
	width:150px;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
}

.thememenutopMenu #activeitem {
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#FF0000;
	cursor:pointer;
	text-transform:uppercase;
}
.thememenutopMainItem, .thememenutopMainFolder {
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#00723e;
	cursor:pointer;
	text-transform:uppercase;
}
.thememenutopMainItemHover, .thememenutopMainFoderHover, .thememenutopMainItemActive, .thememenutopMainFolderActive {
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#FF0000;
	border-top:1px solid #FFFFFF;
	cursor:pointer;
	text-transform:uppercase;
}
.thememenutopMainItemText, .thememenutopMainFolderText {
	padding-left:28px;
	padding-right:20px;
	padding-top:10px;
}
.thememenutopMenuItem, .thememenutopMenuFolder, .thememenutopMenuItemHover, .thememenutopMenuFolderHover, .themeneutopMenuItemActive, .thememenutopMenuFolderActive {
	font-family:Tahoma;
	font-size:11px;
	color:#FFFFFF;
	border-bottom:1px solid #8E4A19;
}
.thememenutopMenuItemHover, .thememenutopMenuFolderHover, .thememenutopMenuItemActive, .thememenutopMenuFolderActive {
	font-weight:bold;
	border-left:2px solid #8E4A19;
}
.thememenutopMenuItemText, .thememenutopMenuFolderText {
	padding:3px;
	padding-left:10px;
	padding-right:10px;
}
.thememenutopMenuSplit {
	margin:		2px;
	height:		1px;
	overflow:	hidden;
	background-color:	inherit;
}


/* MENU LEFT */
.thememenuleftMenu, .thememenuleftSubMenuTable {
	white-space:	nowrap;
}
#menuleft .title_menu {
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	background-image:url(../images/left_menu1.jpg);
	padding-left:70px;
	height:25px;
	padding-bottom:7px;
	height:32px;
	vertical-align:bottom;
}
#menuleft .thememenuleftMenu{
	background-image:url(../images/bgmenuleft.jpg);
}
.thememenuleftMenu #activeitem {
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#FF0000;
	cursor:pointer;
	background-image:url(../images/menuleft_03.jpg);
	background-repeat:repeat-y;
}
.thememenuleftSubMenu {
	position:	absolute;
	visibility:	hidden;
	z-index:	100;
	border:		0;
	padding:	0;

	/*overflow:	visible;*/
	border:		1px solid #8E4A19;
	background-color:#C38560;
	cursor:pointer;
}
.thememenuleftSubMenuTable {
	overflow:visible;
}
.thememenuleftMainItem, .thememenuleftMainFolder {
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	cursor:pointer;
	background-image:url(../images/menuleft_03.jpg);
	background-repeat:repeat-y;
}
.thememenuleftMainItemHover, .thememenuleftMainFoderHover, .thememenuleftMainItemActive, .thememenuleftMainFolderActive {
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#FF0000;
	cursor:pointer;
	background-image:url(../images/menuleft_03.jpg);
	background-repeat:repeat-y;
}
.thememenuleftMainItemText, .thememenuleftMainFolderText {
	width:206px !important;
	padding-left:40px;
	width:206px;
	height:30px !important;
	padding-bottom: 8px;
	height:30px;
	vertical-align:bottom;
}
.thememenuleftMenuItem, .thememenuleftMenuFolder, .thememenuleftMenuItemHover, .thememenuleftMenuFolderHover, .themeneutopMenuItemActive, .thememenuleftMenuFolderActive {
	font-family:Tahoma;
	font-size:11px;
	color:#FFFFFF;
	border-bottom:1px solid #8E4A19;
}
.thememenuleftMenuItemHover, .thememenuleftMenuFolderHover, .thememenuleftMenuItemActive, .thememenuleftMenuFolderActive {
	font-weight:bold;
	border-left:2px solid #8E4A19;
}
.thememenuleftMenuItemText, .thememenuleftMenuFolderText {
	padding:3px;
	padding-left:10px;
	padding-right:10px;
}
.thememenuleftMenuSplit {
	margin:		2px;
	height:		1px;
	overflow:	hidden;
	background-color:	inherit;
}