/* CSS Document */
body {
	margin:0;
}
.td_menu {
	display:block;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	width:inherit;
}
.td_menu:hover {
	display:block;
	width:inherit;
	border-left:1px #C40005 solid;
	border-right:1px #C40005 solid;
	background-color:#FFEAEB;
	cursor:default;
}
#div_dropmenu {
	position:absolute;	
	top:95px;
	width:141px;
	height:29px;
	z-index:1;
	border:1px solid #000000;
	background-color:#F0F0F0;
	filter: progid:DXImageTransform.Microsoft.DropShadow 
(OffX=2, OffY=2, Color='black', Positive='true');
visibility:hidden;
}
#div_dropmenu td {
	padding-left:2px;
	padding-right:2px;
}
#div_dropmenu a {
	width:inherit;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	padding-top:5px;
	padding-bottom:5px;
}
